/* 
    Created on : 13-jul-2020, 17:13:18
    Author     : Roberto Garrido Trillo
*/

.root2 {
  -fx-font-family: 'FreeSans';
  -fx-font-size: 12pt;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-background-color: #004f8a; /*#333333;*/
}

/*      Right image login */
.vboxLoginRight {
  -fx-background-color: #004f8a;
}
.titleHeaderLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
}
.titleSubHeaderLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 20pt;
  -fx-font-weight: bold;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*      left image login */
.vboxLoginLeft {
  -fx-background-color: #004f8a;
  -fx-font-family: 'Ebrima';
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-font-style: normal; 
}

.titleVboxLoginLeft{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 18pt;
  -fx-font-weight: bold;
}

.subTitleVboxloginLeft{  
  -fx-font-family: 'Ebrina';
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*      right right login*/
.vboxLoginRight {
  -fx-background-color: #004f8a;
}
.titleHeaderLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 26pt;
  -fx-font-weight: bold;
}
.titleLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 22pt;
  -fx-font-weight: bold;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*        Password login*/
.jfx-password-field {
  -jfx-focus-color: coral; /* #4059A9; */
  -jfx-unfocus-color: #4d4d4d;
  -fx-font-family: 'FreeSans';
  -fx-font-size: 12pt;
  -fx-border-color: #004f8a; /*#333333;*/
}

.jfx-password-field > .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 0px;
  -fx-translate-y: 4;
}

.jfx-password-field > .input-focused-line{
  -fx-background-color: -jfx-focus-color;
  -fx-pref-height: 2px;
}

.jfx-password-field, .jfx-password-field:focused, .jfx-password-field:hover {
  -fx-prompt-text-fill: #0f9d58; /* #4D4D4D; */
  -fx-background-color: TRANSPARENT;
  -fx-text-fill: white;
}

.jfx-password-field:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-password-field .error-label {
  -fx-text-fill: #D34336;
}

.jfx-password-field .error-icon {
  -fx-fill: #D34336;  
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*        textField login  */
.jfx-text-field {
  -jfx-focus-color: coral; 
  -jfx-unfocus-color: #004f8a; 
  -fx-font-family: 'FreeSans';
  -fx-font-size: 12pt;
  -fx-border-color: #004f8a; 
}

.jfx-text-field  .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 1px;
  -fx-translate-y: 1;
}

.jfx-text-field  .input-focused-line {
  -fx-background-color:  #004f8a; /* -jfx-focus-color; */
  -fx-pref-height: 2px;
}

.jfx-text-field, .jfx-text-field:focused, .jfx-text-field:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-prompt-text-fill: #0f9d58; 
  -fx-text-fill: white;
  -fx-highlight-fill: #000000;

}


.jfx-text-field:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
  -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
  -fx-fill: #D34336;  

}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*      ComboBox               */
.jfx-combo-box {
  -jfx-focus-color: coral; /*#4059A9; */
  -jfx-unfocus-color: #4d4d4d;
  -fx-font-family: 'FreeSans';
  -fx-font-size: 12pt;
  -fx-border-color: #004f8a; /*#333333;*/
}

.jfx-combo-box > .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 0px;
  -fx-translate-y: 1;
}

.jfx-combo-box > .input-focused-line {
  -fx-background-color:  -jfx-focus-color; 
  -fx-pref-height: 0px;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
}

.jfx-combo-box .combo-box-button-container {
  -fx-background-color: TRANSPARENT;
}

.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button {
  -fx-background-color: TRANSPARENT;
}

.jfx-combo-box:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-combo-box .error-label {
  -fx-text-fill:#ffffff #D34336;

}

.jfx-combo-box .error-icon {
  -fx-fill: #D34336;
}

.jfx-combo-box, .jfx-combo-box:focused, 
.jfx-combo-box:hover, .jfx-combo-box:focused:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-prompt-text-fill: #0f9d58a5;
  -fx-text-fill: white;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*        Genericos */
.textFieldLogin, textFieldLogin:active, textFieldLogin:hover, textFieldLogin:focus {
  -fx-text-fill: white;
  -fx-font-family: 'FreeSans';
  -fx-font-size: 12pt; 
  -fx-font-weight: bold;
}
/*
/* For delete the border of the item that aren't Hbox */
.initialBorderItems .initialBorderItems:hover, .initialBorderItems:focused,  
.jfx-button, .jfx-button:hover, .jfx-button:focused {    
  -fx-background-color: #004f8a;
  -fx-background-radius: 0px;
  -fx-background-inset: 0;

  -fx-border-color: #004f8a; 
  -fx-border-width: 0px;
  -fx-border-radius: 0px;
  -fx-border-insets: 0;
}

/* For For delete the border of the item that are Hbox */   
.initialBorderLogin, .borderLoginInvisible  {    
  -fx-background-color: #004f8a;
  -fx-background-inset: 0;
  

  -fx-border-color: #004f8a; 
  -fx-border-width: 3px;;
  -fx-border-radius: 3px;
  -fx-border-insets: 0;
}

.initialBorderLogin:hover, .borderLoginVisible {
  -fx-background-color: #004f8a;
  -fx-background-inset: 0;

  -fx-border-color: coral;
  -fx-border-width: 3px;;
  -fx-border-radius: 3px;
  -fx-border-insets: 0;
}


/* -------------------------------------------*/

#errorPasswordLabelForget {
  -fx-border-color: #004f8a;
  -fx-font-family: 'FreeSans';
  -fx-font-size: 13pt;
  -fx-text-fill: #0fd068;
}

.labelError, .labelError:hover, .labelError:focused{
  -fx-border-color: #004f8a;
  -fx-font-family: 'FreeSans';
  -fx-font-size: 13pt;
  -fx-text-fill: #ff3460;
}

#labelError, #labelError:hover, #labelError:focused{
  -fx-border-color: #004f8a;
  -fx-text-fill: #0f9d58;
}

#labelError > .input-line {
  -fx-background-color: #004f8a; 
  -fx-pref-height: 2px;
  -fx-translate-y: 4;
}

#labelError > .input-focused-line {
  -fx-background-color: #004f8a; 
  -fx-pref-height: 0px;
}

#labelError > #labelError >:focused, #labelError >:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-text-fill: red;
}
