/* 
    Created on : 13-jul-2020, 17:13:18
    Author     : Roberto Garrido Trillo
*/

.root2 {
  -fx-font-family: 'Fira Code';
  -fx-font-size: 10pt;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-background-color: #004f8a; /*#333333;*/
}


/*      left image login */
.vboxLoginLeft {
  -fx-background-color: #004f8a;
  -fx-font-family: 'Ebrima';
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-font-style: normal; 
}

.titleVboxLoginLeft{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 18pt;
  -fx-font-weight: bold;
}

.subTitleVboxloginLeft{  
  -fx-font-family: 'Ebrina';
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
}

/*      right right login*/
.vboxLoginRight {
  -fx-background-color: #004f8a;
}
.titleHeaderLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 26pt;
  -fx-font-weight: bold;
}
.titleLogin{
  -fx-font-family: 'Ebrina';
  -fx-font-size: 22pt;
  -fx-font-weight: bold;
}

/*        Password login*/
.jfx-password-field {
  -jfx-focus-color: coral; /* #4059A9; */
  -jfx-unfocus-color: #4d4d4d;
  -fx-font-family: 'Fira Code';
  -fx-font-size: 11pt;
  -fx-border-color: #004f8a; /*#333333;*/
}

.jfx-password-field > .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 1px;
  -fx-translate-y: 4;
}

.jfx-password-field > .input-focused-line{
  -fx-background-color: -jfx-focus-color;
  -fx-pref-height: 2px;
}

.jfx-password-field, .jfx-password-field:focused, .jfx-password-field:hover {
  -fx-prompt-text-fill: #0f9d58; /* #4D4D4D; */
  -fx-background-color: TRANSPARENT;
  -fx-text-fill: white;
}

.jfx-password-field:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-password-field .error-label {
  -fx-text-fill: #D34336;
}

.jfx-password-field .error-icon {
  -fx-fill: #D34336;  
}



/*        textField login  */
.jfx-text-field {
  -jfx-focus-color: coral; /*#4059A9; */
  -jfx-unfocus-color: #004f8a; /* #333333;*/
  -fx-font-family: 'Fira Code';
  -fx-font-size: 11pt;
  -fx-border-color: #004f8a; /*#333333;*/
}

.jfx-text-field  .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 1px;
  -fx-translate-y: 1;
}

.jfx-text-field  .input-focused-line {
  -fx-background-color: -jfx-focus-color; 
  -fx-pref-height: 2px;
}

.jfx-text-field, .jfx-text-field:focused, .jfx-text-field:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-prompt-text-fill: #0f9d58; /* #4D4D4D; */
  -fx-text-fill: white;
  -fx-highlight-fill: #004f8a;

}


.jfx-text-field:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
  -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
  -fx-fill: #D34336;  

}

/*      ComboBox               */
.jfx-combo-box {
  -jfx-focus-color: coral; /*#4059A9; */
  -jfx-unfocus-color: #4d4d4d;
  -fx-prompt-text-fill: #4d4d4d;
  -fx-font-family: 'Fira Code';
  -fx-font-size: 11pt;
  -fx-border-color: #004f8a; /*#333333;*/
}

.jfx-combo-box > .input-line {
  -fx-background-color: -jfx-unfocus-color;
  -fx-pref-height: 0px;
  -fx-translate-y: 1;
}

.jfx-combo-box > .input-focused-line {
  -fx-background-color: -jfx-focus-color;
  -fx-pref-height: 2px;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
}

.jfx-combo-box .combo-box-button-container {
  -fx-background-color: TRANSPARENT;
}

.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button {
  -fx-background-color: TRANSPARENT;
}

.jfx-combo-box:error {
  -jfx-focus-color: #D34336;
  -jfx-unfocus-color: #D34336;
}

.jfx-combo-box .error-label {
  -fx-text-fill: #D34336;

}

.jfx-combo-box .error-icon {
  -fx-fill: #D34336;
}

.jfx-combo-box, .jfx-combo-box:focused, 
.jfx-combo-box:hover, .jfx-combo-box:focused:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-prompt-text-fill: #0f9d58; /* #4D4D4D; */
  -fx-text-fill: white;
}


/*        Genericos */
.textFieldLogin, textFieldLogin:active, textFieldLogin:hover, textFieldLogin:focus {
  -fx-text-fill: white;
  -fx-font-family: 'Fira Code';
  -fx-font-size: 11pt; 
  -fx-font-weight: bold;
}

.borderLoginVisible {
  -fx-border-color: coral;
}
.borderLoginInvisible {
  -fx-border-color: #004f8a; /*#333333;*/
  -fx-unfocus-color: #004f8a; /*#333333;*/
}

.initialBorderLogin{    
  -fx-background-color: #004f8a; /*#333333;*/
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-border-insets: 0; 

}

.jfx-button:focused, jfx-button:hover, 
.jfx-text-field:hover,
.initialBorderLogin:hover,
.hyperlink, .hyperlink:focused, .hyperlink:hover
{
  -fx-border-color: coral;
  -fx-background-color: #004f8a; /*#333333;*/
  -fx-border-width: 1px;
  -fx-border-radius: 3px;
  -fx-border-insets: 0;
  -fx-border-style: solid line-join bevel line-cap square;
}

.labelError, .labelError:hover, .labelError:focused{
  -fx-border-color: #004f8a; /*#333333;*/
  -fx-text-fill: #ff0000;
}

#labelError, #labelError:hover, #labelError:focused{
  -fx-border-color: #004f8a; /*#333333;*/
  -fx-text-fill: #0f9d58;
}

#labelError > .input-line {
  -fx-background-color: #004f8a; /*#333333;*/
  -fx-pref-height: 1px;
  -fx-translate-y: 4;
}

#labelError > .input-focused-line {
  -fx-background-color: #004f8a; /*#333333;*/
  -fx-pref-height: 0px;
}

#labelError > #labelError >:focused, #labelError >:hover {
  -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
  -fx-text-fill: red;
}

.labelRegistrate{
  -fx-text-fill: #0f9d58; /* verde */
}