/* 
    Created on : 19 may. 2020, 9:16:37
    Author     : ROBEG
*/

.root {
  -fx-font-family: 'FreeSans';
  -fx-font-size: 10pt;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-background-color: #333333;
  -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0 );
}

.listViewV{
  -fx-font-family: 'FreeSans';
  -fx-font-size: 11pt;
  -fx-font-weight: bold;
  -fx-font-style: normal;

}
/* borro el borde por defecto de los botones y de los slider*/
.button:hover, .button:focused,
.hyperlink:hover, .hyperlink:focused,
.slider:hover, .slider:focused, 
.listViewH:hover, 
.textFieldH:hover,
.tab-pane:hover, .tab-pane:focused,
#anchorListViewV:hover{
  -fx-border-color: coral;
  /*-fx-background-color: transparent; */
  -fx-border-width: 2;
  -fx-border-radius: 2;
  -fx-border-insets: 0;
  -fx-border-style: solid line-join bevel line-cap square;

}

/* borde transparente inicial para luego cambiarlo de color*/
.initialBorder, .button, .hyperlink, .listViewH, 
.textFieldH, .tab-pane{  
  -fx-border-color: transparent;
  -fx-background-color: transparent;  
  -fx-border-width: 2;
  -fx-border-radius: 2;
  -fx-border-insets: 0;  
}

.borderVisible{
  -fx-border-color: coral;  
}


/* para las pestañas del tab */
.tab-pane {
  -fx-tab-min-height: 1.8333em; 
  -fx-tab-max-height: 1.8333em; 
}

.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color: #252525;

}

.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
  -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
  -fx-padding: 0.083333em 0.5em 0.0769em 0.5em; 
  -fx-background-color:#252525;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover{
  -fx-alignment: CENTER;
  -fx-background-color: #404040;  
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container:hover{

}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
  -fx-alignment: CENTER;
  -fx-background-color: transparent;  
  -fx-text-fill: white;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label:selected {
  -fx-alignment: CENTER;
  -fx-background-color: #004f8b;  

}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label:hover {
  -fx-alignment: CENTER;
  -fx-background-color: #404040;  
}




/*  listView */
.listViewH{
  -fx-font-size: 10pt;
  -fx-font-weight: 900 ;
  -fx-font-style: normal;
  -fx-background-color:#000000a0;
}

/*  TextField  */
.textFieldH{
  -fx-font-size: 13pt;
  -fx-font-weight: 900 ;
  -fx-font-style: normal
}
